<div class="w3-third" >
      
    <div class="w3-white w3-text-grey w3-card-4">
      <div class="w3-display-container">
        <img id="imgBox" src="assets/javi2.jpg" style="width:100%;" id="presentacion" alt="Perfil">     
      </div>
      <div class="w3-container">
        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Full Stack Developer</p>
        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Auckland, New Zealand</p>
        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>javierjimenez78@gmail.com</p>
        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+64212583265</p>
        <p><a href="#portfolio" onclick="open_portfolio()" class="w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Portfolio</a> </p>
        <p><a href="#about" onclick="open_about()" class="w3-text-teal"><i class="fa fa-user fa-fw w3-margin-right"></i>About</a> </p>
        <!-- <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a>  -->
        <hr>

        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
        <p>.NET Programming C#</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
        </div>
        <p>Angular</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
            <div class="w3-center w3-text-white">80%</div>
          </div>
        </div>
        <p>Javascript</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:65%">65%</div>
        </div>
        <p>MySql</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
        </div>
        <br>
       
        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
        <p>Spanish</p>
        <div class="w3-light-grey w3-round-xlarge">
          <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
        </div>
        <p>English</p>
        <div class="w3-light-grey w3-round-xlarge">
          <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
        </div>
   
        <br>
      </div>
    </div><br>


  

</div>
