    <div class="w3-twothird" > 
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2  style="text-align: center;" class="w3-text-grey w3-padding-16"><i class="fa fa-user-circle-o  fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About me</h2>
       
        <div class="w3-container">
        <!-- <img src="/javi.jpg" alt="Javier Jimenez" class="center"> -->
          <h4 style="text-align: center;"><b>Full Stack Developer C# .Net & Angular</b></h4>
          
                   <h5 style="text-align: center;"class="w3-opacity"><b>Systems Information Engineer UTN Cordoba University</b></h5>

          <p> I specialized in developing Desktop and Web applications. I develop some desktop applications in .NET framework, and in Web App, I use Angular framework. I love to program and get new abilities.
In my free time, I like to do sports like tennis.</p>
       
          <hr>
        </div>
      </div>
    </div>
  