<div class="w3-twothird">

    <div class="w3-container w3-card w3-white">
      <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
      <div class="w3-container">
        <h4 style="text-align: left;"><b>Information Systems Engineering</b></h4>          
                   
        <h5 class="w3-opacity"><b>Tecnologic University of Cordoba(UTN)</b></h5>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012 - 2019</h6>
        <p> The Information Systems Engineer is a professional with a solid
          analytical background that allows the interpretation and resolution of
          problems through the use of information processing systems and
          technologies.The scope of responsibilities in systems engineering: </p>
      
          <SPAN class=li>Systems operations</SPAN>
          <SPAN class=li>Systems performance</SPAN>
          <SPAN class=li>Testing, analysis, and retesting</SPAN>
          <SPAN class=li>Manufacturing</SPAN>
          <SPAN class=li>Training and supporting</SPAN>
          <SPAN class=li>Scheduling</SPAN>
          <SPAN class=li>Cost analysis</SPAN>
          <SPAN class=li>Proper disposal of inefficiencies</SPAN>
   
        <hr>
      </div>
 
    </div>

  </div>
